<!DOCTYPE html>
<head>
	<title>Provider</title>
	<link href='style.css' rel='stylesheet' type='text/css'/>
	<link href='providerEdit.css' rel='stylesheet' type='text/css'/>  
	
</head>

<body>

	{{> navbar_logout}}

	<div id='main'>
		<div id='header'>
			<form class='row' method='get' action='/provider_list'>
				<input type='submit' value='back'/>
			</form>

			<div class='row'>
				<div id='number'>
					{{id}}
				</div>
				<div id='first_name'>
					{{fname}}
				</div>
				<div id='last_name'>
					{{lname}}
				</div>
				<div id='status'>
					{{status}}
				</div>
			</div>
		</div>

		<div id='license_container'>
			{{#each userData.licenses as |licenseStatus|}}
				<div class='license_group'>
					<div id={{this.name}} class='license_group_name'>
						{{licenseStatus.name}}
					</div>
					{{#each licenseStatus.licenses as |license|}}
						<div id={{license.name}} class='license'>
							<button class='license_but' onclick="createOptions('{{license.name}}', '{{licenseStatus.name}}', '{{license.license_id}}')">
								{{license.name}}
							</button>
						</div>
					{{/each}}
				</div>
			{{/each}}
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src='provider_page.js'></script>
	<script src="sweetalert2.all.min.js"></script>
</body>
