<!DOCTYPE html>
<head>
	<title>Provider</title>
	<link href='provider_page.css' rel='stylesheet' type='text/css'/>
	<link href = "navbar1.css" type = "text/css" rel = "stylesheet"/>
  	<link href = "navbar2.css" type = "text/css" rel = "stylesheet"/>
  
	
</head>

<body>

	{{> navbar}}
	{{> navbar2}}

	<div id='main'>
		<div id='info'>
			<div id='infoTop'>
				<form method='get' action='/provider_list_page'>
					<input id ='back_but'type='submit' value='back'/>
				</form>
			</div>

			<div id='infoBot'>
				<div id='number'>
					{{userData.number}}
				</div>
				<div id='first_name'>
					{{userData.firstName}}
				</div>
				<div id='last_name'>
					{{userData.lastName}}
				</div>
				<div id='status'>
					{{userData.status}}
				</div>
			</div>
		</div>

		<div id='licenses'>
			{{#each userData.licenses as |licenseStatus|}}
				<div class='license_group'>
					<div id={{this.name}} class='license_group_name'>
						{{licenseStatus.name}}
					</div>
					<div style="height: 18px"></div>
					{{#each licenseStatus.licenses as |license|}}
						<div id={{license.name}} class='license'>
							<button class='license_but' onclick="createOptions('{{license.name}}', '{{licenseStatus.name}}')">
								{{license.name}}
							</button>
<!-- 							<div class='license_options'>
								<div class='filename'>
									<div class='filename_button'><button>Download</button></div>
									<div class='filename_name'>Filename</div>
									<div class='filename_approved_by'>Approved by:</div>
								</div>

								<form class='file_submit' method='post' action='make_data_button'>
									<div class='form_left'>
										<div class='form_left_padding'>Add a note</div>
										<textarea class='note_input' rows='3'></textarea>
									</div>
									<div class='form_right'>
										<input class='form_but' type='submit' value='Accept'/>
										<input class='form_but' type='submit' value='Deny'/>
									</div>
								</form>
							</div> -->
						</div>
					{{/each}}
				</div>
			{{/each}}
		</div>
	</div>

	<script src='provider_page.js'></script>
</body>