<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>{{title}}</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="status.css" rel="stylesheet" type="text/css" />
</head>

<body id="body">
     
    {{> navbar_logout}}
    {{> navbar2}}


    <div id="maincontent">
    
        <div class="redbuttons" id="crimCheckSS">Criminal Record Check</div>
            <div class="hiddenspaceSS" id="crInfoSS">
                <div class="textareaSS">
                    <h3 class="checkingcontent">Status: &nbsp <font size="+3"> {{userData1.status}} </font> <br> <small> &nbsp Notes</small> </h3>
                    <div class="notesbox">
                        <div class="notescontent">{{userData4.content}}</div>
                    </div>
                </div>
            </div>
        
        <div id="siteCheckSS" class="greenbuttons">Site Plan</div>
            <div class="hiddenspaceSS" id="siteInfoSS">
                <div class="textareaSS">
                    <h3 class="checkingcontent">Status: &nbsp {{userData2.status}}  <br> <small> &nbsp Notes</small> </h3>
                    <div class="notesbox">
                        <div class="notescontent">{{userData4.content}}</div>
                    </div>
                </div>
            </div>

        <div id="floorCheckSS" class="yellowbuttons">Floor Plan</div>
            <div class="hiddenspaceSS" id="floorInfoSS">
                <div class="textareaSS">
                    <h3 class="checkingcontent">Status: &nbsp {{userData3.status}} <br> <small> &nbsp Notes</small> </h3>
                    <div class="notesbox">
                        <div class="notescontent">{{userData4.content}}</div>
                    </div>
                </div>
            </div>

        <div id="referencesSS" class="greybuttons">References</div>
        <div id="firePlanSS" class="greybuttons">Fire Safety Plan</div>
        <div id="immunStatSS" class="greybuttons">Immunization Status</div>
        <div id="empplanSS" class="greybuttons">Employee Plan</div>
    </div>

</body>
<script src='status.js'></script>


</html>
